body{
    font-family: "EB Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
    margin: 0;
    padding: 0;
}


header {
    background-color: #4CAF50;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    color: white;
    width: 80%;
    margin: 0 auto;
}

header .site-logo {  
    font-size: 32px;
    font-weight: bold;
    margin-right: 50px;
}

header .main-nav ul.nav-list {  
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

header .main-nav ul.nav-list li.nav-item a { 
    color: white;
    text-decoration: none;
    font-size: 18px;
}

header .main-nav ul.nav-list li.nav-item a:hover {  
    text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    header .site-logo {  
        margin-right: 0;
        margin-bottom: 10px;
    }

    header .main-nav ul.nav-list { 
        flex-direction: column;
        gap: 10px;
    }

    header .main-nav ul.nav-list li.nav-item a {
        font-size: 16px;
    }
}
